.order {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1.25em;
    border-radius: 1em;
    background: var(--order-background);
    box-shadow: var(--order-shadow);
    backdrop-filter: var(--order-blur);
}

.top {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.date {
    font-size: 0.8em;
    opacity: 0.7;
    white-space: nowrap;
}

.body {
    display: flex;
    gap: 1em;
    flex-direction: column;

    @media (min-width: 768px) {
        align-items: start;
        justify-content: space-between;
        flex-direction: row;
    }

    a {
        color: var(--text-color);
        text-decoration: none;
        font-weight: bold;
        opacity: 1;
        display: flex;
        gap: 0.5em;

        i {
            opacity: 0.7;
        }

        &:hover {
            text-decoration: underline;
        }

        &:visited {
            color: #b0b0b0;
        }
    }
}

.categories {
    font-size: 0.8em;
    opacity: 0.7;
}

.content {
    color: var(--content-color);
    display: none;
    padding: 0.625em 0;
    font-size: 0.8em;
    line-height: 1.5;

    &.show {
        display: block;
    }
}

.info {
    display: flex;
    gap: 1em;
    align-items: baseline;

    @media (min-width: 768px) {
        white-space: nowrap;
        align-items: end;
        flex-direction: column;
        gap: 0.5em;
    }
}

.toggle {
    color: var(--link-color);
    font-size: 0.8em;
    /* text-decoration: underline; */
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.hot {
    color: var(--hot-color);
    font-size: 0.8em;

    i {
        color: #f00;
    }

    @media (max-width: 767px) {
        > span {
            display: none;
        }
    }
}

.fromAll {
    color: var(--from-all-color);
    font-size: 0.8em;
}
