$icomoon-font-family: "fl" !default;
$icomoon-font-path: "fonts" !default;

$icon_moon: "\e904";
$icon_pin: "\e90a";
$icon_dark: "\e907";
$icon_bullhorn: "\e908";
$icon_info: "\e909";
$icon_notification: "\e906";
$icon_hot: "\e900";
$icon_close: "\e901";
$icon_trash: "\e902";
$icon_sun: "\e903";
$icon_gear: "\e905";

